.screen-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.screen-header__title {
  font-size: 25px;
  font-weight: 600;
}

.screen-header__icons {
  display: flex;
  align-items: center;
  gap: 20px;
}
