/* 칼라지정방법 # 칼라 rgb 칼라 rgba (투명도 추가) 칼라*/
/* 변수지정 :root에 --**-** 형식으로 지정한다 */
@import "reset.css";
@import "variables.css";
@import "./components/top-status.css";
@import "./components/bottom-nav-bar.css";
@import "./components/screen-header.css";
@import "./components/user-component.css";
@import "./components/badge.css";
@import "./components/alt-screen-header.css";
@import "./screen/home.css";
@import "./screen/friends.css";
@import "./screen/find.css";
@import "./screen/chat.css";
@import "./components/no-mobile.css";

html,
body {
  min-width: 450px;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden; /* 부모 요소의 스크롤을 숨김 */
}
html {
  display: flex;
  justify-content: end;
  background-color: rgba(0, 0, 0, 0.05);
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

  margin: 50px;

  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  justify-content: space-between;

  align-items: center;
  border: 1px solid #2e363e;
  width: 450px;
  height: 900px;
  color: #2e363e;
  overflow: visible;
  /* position: relative; */
  background-color: white;
}

main {
  padding-top: 30px;
  height: 100%;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 15px;
}

a {
  color: #2e363e;
}

#splash-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0px;
  left: 0px;
  /* 상단위치 조정*/
  width: 100%;
  height: 100%;
  background-color: var(--yellow);
  z-index: 99;
  animation: hideSplashScreen 3s ease-in-out forwards;
}

@keyframes hideSplashScreen {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    /* 요소를 마우스에 반응하지 않게 한다.*/
    visibility: hidden;
  }
}
