
.Welcome-header {
    display: flex;
    flex-direction: column;
    gap: 20px;
  
    margin-bottom: 90px;
  }
  
  .Welcome-header__title {
    font-family: "Noto Sans KR", sans-serif;
    font-size: 25px;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
  }
  
  
  #login-form {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }
  
  #login-form input {
    /* not  속성으로 예외를 둘수있음 */
    /* 오직 로그인폼의 인풋에만 적용 */
    border: none;
  
    transition: border-color 500ms ease-in-out;
  
    /* border:none을 하고 바텀만 준다.*/
    font-size: 15px;
    padding: 15px;
    width: 310px;
    margin-bottom: 0px;
  }
  #login-form input:not([type="submit"]) {
    /* 속성으로 선택가능*/
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    transition: border-color 500ms ease-in-out;
  }
  #login-form input::placeholder {
    color: rgba(0, 0, 0, 0.5);
  }
  #login-form input:focus:not([type="submit"]) {
    outline: none;
    /* outline: none은 항상 주어야함*/
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    border-color: var(--main-color);
  
    /* 입력창 활성화 외곽선은 outline */
  }
  #login-form input[type="submit"] {
    width: 350px;
    cursor: pointer;
    margin-bottom: 20px;
    background-color: var(--main-color);
    border-radius: 5px;
  }
  #signup {
    padding: 15px;
    width: 350px;
  
    border: none;
    background-color: var(--main-color);
    cursor: pointer;
    border-radius: 5px;
  }
  
 